---
import Layout from '../layouts/Layout.astro';

import '../styles/global.css';
---

<Layout>
  <div class='prose mx-auto'>
    <h1 class='text-3xl'>Hello World!</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda sed
      odio eos natus architecto quaerat deserunt, necessitatibus in consequatur
      fuga commodi aliquam ea perspiciatis delectus sunt dolor inventore soluta.
      Officia quis doloribus eveniet, libero deleniti nam, possimus earum
      cupiditate eligendi praesentium corporis nostrum delectus necessitatibus
      vel aliquam quibusdam maxime dicta?
    </p>
  </div>
</Layout>
